<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="1">
    <!--    <parameter name="" value=""></parameter>-->
    <test name="Testing Urbanladder">
        <classes>
            <class name="test.java.org.urbanladder.tests.TC1_VerifyBookshelvesFilter"/>
            <class name="test.java.org.urbanladder.tests.TC2_VerifyNameAndPriceVisibility"/>
            <class name="test.java.org.urbanladder.tests.TC6_VerifyStudyChairFilter"/>
            <class name="test.java.org.urbanladder.tests.TC11_VerifyNewArrivals"/>
            <class name="test.java.org.urbanladder.tests.TC12_VerifyOasisCollection"/>
            <class name="test.java.org.urbanladder.tests.TC13_VerifyOasisCollectionSubMenu"/>
            <class name="test.java.org.urbanladder.tests.TC16_VerifyGiftPage"/>
            <class name="test.java.org.urbanladder.tests.TC17_VerifyDesignTemplate"/>
        </classes>
    </test>
</suite>